In [1]:
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [2]:
import pandas as pd
import numpy as np

2021-08-24 11:23:54,491 : INFO : NumExpr defaulting to 4 threads.

In [3]:
df = pd.read_csv('../data/BBairline200722.csv')
df.shape

(490, 6)

In [6]:
df.sample(3, random_state=42)

,0,1,2,3,4,5
452,https://www.bloomberg.com/news/articles/2021-0...,2021-06-22T17:55:44.734Z,U.K. Poised to Ease Travel Curbs as Airlines S...,"['Tim Ross', 'Siddharth Vikram Philip']",prognosis,Boris Johnson’s government is preparing to all...
84,https://www.bloomberg.com/news/articles/2021-0...,2021-05-14T05:05:06.097Z,Singapore Moves Back Toward Lockdown as Virus ...,['Kyunghee Park'],prognosis,Singapore is returning to the lockdown-like co...
434,https://www.bloomberg.com/news/articles/2021-0...,2021-06-04T08:49:29.959Z,"Airfares Hit $1,000 as U.K. Tourists Rush to L...","['Siddharth Vikram Philip', 'Charlotte Ryan']",Business,U.K. tourists scrambled to return from Portuga...

In [9]:
df = df.rename(
    columns={
        '0': 'url',
        '1': 'date',
        '2': 'title',
        '3': 'authors',
        '4': 'category',
        '5': 'text'
    }
)

In [12]:
df.sample(3, random_state=42)

(490, 6)

In [13]:
df = df.dropna(subset=["text"])

(490, 6)

In [14]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [15]:
df.shape, df_train.shape, df_test.shape

((490, 6), (392, 6), (98, 6))

In [16]:
df.to_csv('./full.csv')

In [17]:
df_train.to_csv('./train.csv')

In [18]:
df_test.to_csv('./test.csv')